
.parts_item {
    display: none;
}
#list_item_1 {
    display: block;
}
#parts_list a {
	text-align: center;
}
.my_begin_test {
	width: 200px;
  	left: 50%;
  	margin-left: -125px;
}
#radio, #checkbox, #text_field, #question, #code {
	display: none;
}